@import '../../sass/bootstrap-core';

.resume {
  &Lead {
    font-size: 1.25rem;
  }
}

.section {
  &Heading {
    font-size: 1.25rem;
  }
}

.job {
  &Heading {
    font-size: 1.125rem;
  }

  &Position {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .resume {
    &Lead {
      font-size: $h2-font-size;
    }
  }
}