@import '../../sass/bootstrap-core';

.header {
  background-color: white;
  border-bottom: 1px solid map-get($grays, '200');

  &Title {
    font-size: 1.75rem;
  }
}



@include media-breakpoint-up(md) {
  .header {
    &Title {
      font-size: $h1-font-size;
    }
  }

  .gitHubLogo {
    top: 1rem;
    left: 1rem;
    width: 30px;
    height: 30px;
    position: absolute;
    fill: $body-color;
  }
  
  .linkedInLogo {
    top: 1rem;
    left: 3.5rem;
    width: 30px;
    height: 30px;
    position: absolute;
    fill: #0077B5;
  }
}

@include media-breakpoint-up(lg) {
  .gitHubLogo {
    width: 50px;
    height: 50px;
  }
  
  .linkedInLogo {
    left: 4.5rem;
    width: 50px;
    height: 50px;
  }
}
