---
import { AppConfig } from '../config/app';
---

<p>
  Written by <strong>{AppConfig.author}</strong>. A proactive and disciplined
  Sr. Software Engineer with rock-solid programming skills in
  Javascript/Typescript.
</p>
<p class="tw-text-right">
  <a
    class="primary-link"
    href={`https://www.linkedin.com/in/${AppConfig.social.linkedIn}`}
    target="_blank"
    rel="noopener noreferrer"
  >
    Read more about me on LinkedIn.
  </a>
</p>
